.App{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}
.bibigon{
    background: linear-gradient(180deg, rgba(209, 39, 39, 0.7) 0%, rgba(101, 87, 186, 0.7) 100%);
    padding: 20px;
    margin-top: 10px;
    border-radius: 10px;
    color: white;
}
i{
    color: rgba(209, 39, 39, 0.7);
}