.time{
    display: flex;
    justify-content: space-between;
    width: 225px;
    margin-top: 5px;
}
.alert{
    box-shadow: 5px 0px 2px rgba(255, 255, 255, 0.439);
    position: fixed;
    top: 170px;
    left: 850px;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    background-color: white;
    color: rgb(0, 0, 0);
    border-radius: 12px;
    display: flex;
    align-items: center;
    transform: rotate(5deg);
}
.check{
    display: flex;
    align-items: center;
    justify-content: center;
}
.dot{
    border-radius: 5000px;
    width: 20px;
    height: 20px;
    background-color:black;
    margin-right: 20px;
    box-shadow: 2px 2px 2px rgb(38, 38, 38);
}